* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
}

h1 {
	font-size: 45px;
	text-indent: 250px;
	color: slategray;
}
h2 {
	text-align: center;
	color: orange;
}
h3 {
	text-align: center;
	color: dodgerblue;
}
h5 {
	color: slategray;
}
p, span {
	font-style: italic;
	color: silver;
}
p {
	font-size: 18px;
}

.container {
	display: flex;
}

.main {
	width: 320px;
	height: 620px;
	margin-top: 30px;
	margin-left: 200px;
	border: 10px double slategray;
}

.cell {
	float: left;
	width: 30px;
	height: 30px;
}
.movingCell {
	background-color: blue;
	border: 8px double gray;
}
.fixedCell {
	background-color: gold;
	border: 8px double gray;
}
/*
.pieceO {
	color: yellow;
}
.pieceI {
	color: cyan;
}
.pieceS {
	color: red;
}
.pieceZ {
	color: limegreen;
}
.pieceL {
	color: orange;
}
.pieceJ {
	color: pink;
}
.pieceT {
	color: purple;
}
*/
.extra {
	width: 130px;
	margin-top: 30px;
	margin-left: 10px;
}

.following {
	width: 120px;
	height: 150px;
}
.fMovingCell {
	background-color: darkgreen;
	border: 8px double gray;
}

.button {
	font-size: 15px;
	padding: 6px 10px;
	background-color: slategray;
	border-radius: 10%;
	cursor: pointer;
}
#playPause, #space, #up {
	display: block;
	padding: 8px 12px;
	margin: 10px auto 30px;
	font-weight: bold;
}
#left, #right {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 5px;
	color: blue;
}
.color {
	color: darkgreen;
}
.pause {
	background-color: teal;
	color: purple;
}
#up {
	margin-top: 20px;
	color: maroon;
}

.help {
	margin-left: 200px;
}
.keyCntr {
	display: block;
	font-style: normal;
	font-weight: bold;
	color: silver;
}
